body {
  font-family:Gotham SSm A, Gotham SSm B, Verdana, sans-serif;
  background: white;
}

h1 {
  font-size: 70px;
  margin-bottom: 0em;
  margin-top: 0em;
}

.header {
  background-color: #d00000;
  text-align: center;
  color: white;
  padding: 20px;
};

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  font-decoration: underline;
}

h3 {
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 5px;
}

hr {
    display: block;
    border-style:inset;
    border-color:#b30000;
    background-color:#b30000;
    height: 2px;
    border: 0;
}

.topnav {
  overflow: hidden;
  background-color: #b30000;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #d00000;
  color: white;
}

ul {
    list-style:none;
}

ul li::before {
    content: "\2022";
    color: #b30000;
    display:inline-block;
    width:1em;
    margin-left:-1em;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-style: solid;
  border-color: #d00000;
}

.tcard {
  background-color: white;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-style: solid;
  border-color: #d00000;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d00000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: scroll;
  height: 135px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.tcardimgcontainer{
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

.tcardimg{
    width: 100%;
    height: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn, input[type=submit] {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.leftcolumn {
  float: left;
  width: 75%;
  margin-top:8px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  margin-top:8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



{
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
