@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header {
  background-color: #283B42;
  text-align: center;
  color: #F4D6EA;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

body {
  background:#1B2B30;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
}

nav{
  margin: 0rem auto 0rem;
  font-size: 1.2rem;
} 

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #283B42;
  text-align: center;
  margin: auto;
}

nav li {
  float: left;
  width: auto;
  margin: 0 .3em .3em .3em;
}

nav li.active {
  padding: 10px;
  border-radius: 20px;
  background-color: #B6B7CB;
  color: black;
}

nav li a {
  text-decoration: none;
  color: #F4D6EA;
  display: block;
  padding: 10px;
  border-radius: 20px;
}

nav li a:hover {
  background-color: #B6B7CB;
  color: black;
}

nav li:last-child {
  float:right;
}



 h1 {
  font-weight: normal;
  font-size: 3rem;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color:whitesmoke;
}

.math {
  font-family:serif;
  font-style:italic;
  font-size:1.2em;
  letter-spacing:.1em;
}

code {
  font-size:1.3em;
  background-color: hwb(0 83% 17% / 0.8);
  color: black;
}

sup {
  font-size: .6em;
}

a {
  color: #D5C7DB;
}

ul {
  margin-top: -1.5em;
  margin-left: 80px;
}

li {
  margin-bottom: .5em;
}

.me-image {
    width: 250px;
    float: left;
    margin: 2rem;
    border-radius: 125px;
}

h2 {
  color: #E5CFE3;
  font-style: italic;
  font-size: 1.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

h3 {
  color: #E5CFE3;
  font-size: 1.2em;
  margin-top: .2em;
  margin-bottom: .5em;
  margin-left: 2em;
  margin-right: 2em;
  font-weight: normal;
}

hr {
    background-color:#F4D6EA;
    height: 2px;
    margin-left: 2rem;
    margin-right: 2rem;
}

