@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header {
  background-color: #283B42;
  text-align: center;
  color: #F4D6EA;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

body {
  background:#1B2B30;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  font-size:1.2rem;
}

nav{
  margin: 0rem auto 0rem;
  font-size: 1.4rem;
} 

nav ul {
  list-style-type: none;
  background-color: #283B42; 
  text-align: left;
  margin: auto;
}

nav li {
  display: inline-block;
  width: auto;
  margin: 0 0 .6em .6em;
  border-radius: 20px;
}

nav li.active {
  background-color: #B6B7CB;
  color: black;
  padding: 10px;
  text-align: justify;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #F4D6EA;
  padding: 10px;
}

nav li a:hover {
  background-color: #B6B7CB;
  color: black;
  border-radius: 20px;
  padding:10px;
}

nav li:last-child {
  float:right;
  margin-right: .6em;
}



 h1 {
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  color: #E5CFE3;
  font-style: italic;
  font-size: 1.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

h3 {
  color: #E5CFE3;
  font-size: 1.2em;
  margin-top: .2em;
  margin-bottom: .5em;
  margin-left: 2em;
  margin-right: 2em;
  font-weight: normal;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color:whitesmoke;
}

section {
  display: flow-root;
  max-width: 70%;
  background-color: rgba(182, 183, 203,.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: #D5C7DB;
}

ul {
  margin-top: -1.5em;
  margin-left: 80px;
}

li {
  margin-bottom: .5em;
}

hr {
    background-color:#F4D6EA;
    height: 2px;
    margin-left: 2rem;
    margin-right: 2rem;
}

code {
  font-size:1em;
  background-color: hwb(0 83% 17% / 0.8);
  color: black;
}

sup {
  font-size: .6em;
}

sub {
  font-size: .6em;
}

.math {
  font-family:serif;
  font-style:italic;
  font-size:1.1em;
  letter-spacing:.1em;
}

.math-equation {
  display:block;
  font-family:serif;
  font-style:italic;
  font-size:1.1em;
  letter-spacing:.1em;
  text-align: center;
}

.float-text {
  margin: 2rem;
  color:black;
  line-height: 1em;
}

.me-image {
  width: 250px;
  float: left;
  margin: 2rem;
  border-radius: 125px;
}

.math-image {
  width: 400px;
  float: right;
  margin-top: 0rem;
  margin-bottom: 2rem;
  display: flow-root;
}

.right {
  float: right;
  margin-right: 5rem;
  margin-left: 2rem;
}

.left {
  float: left;
  margin-right: 2rem;
  margin-left: 5rem;
}

.day {
  margin-top: 0rem;
  margin-bottom: 2rem;
  display: flow-root;
}


